:root {
  --text: #1D201F;
  --primary-color: #003d80;
  --secondary-color: #FFC107;
  --grey: #D1DEDE;
  --bg: #fff;
  --transparent-light: rgba(255, 255, 255, 0.432);
  --transparent-dark: rgba(0, 0, 0, 0.432);
  --link: #041c9d;
  --link-v: #0072fd;
}
.content {
  position: relative;
  background-color: var(--secondary-color);
  padding: 2em;
  margin-bottom: 3em;
}

.video-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-bottom: 2em;
}

.bg-video {
  width: 100%;
  object-fit: cover;
}

.overlay-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: min(5vw, 5rem);
}
.video-text {
  /* Pozíció */
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-left: 2rem;
  z-index: 2;

  /* Stílus */
  font-family: Calibri, sans-serif !important;
}



body {
  margin-top: 3em;
  color: var(--text);
  background-image: url('../../media/Kezdolap/kepek/bg.jpg');
}



h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  font-size: 2.5em;
  text-align: center;
  background-color: var(--text);
  color: var(--bg);
  padding: 1rem;
  width: fit-content;
  border-radius: 5px;
}
h3 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  width: fit-content;
  font-size: 2em;
  border-left: solid 0.5em var(--primary-color);
  background-color: var(--transparent-light);
  padding: 0 1em ;
}
p {
  text-align: left;
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
  margin-top: 2em;
  margin-bottom: 0;
  transform: translate(0, 6px);
  border: 3px dashed var(--text);
}

footer {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
}
textarea {
  resize: none;
}
/* Table formatting */
table {
  border-collapse: collapse;
  border: none;
}

th, td {
  padding: 8px;
  border: none;
}
thead th {
  background-color: var(--text) !important;
  color: var(--bg) !important;
  text-align: center;
}
th {
  text-align: left;
}
td:nth-child(even) {
  background-color: var(--grey) !important;
}
details {
  color: var(--text);
  margin-bottom: 1em;
}

form {
  border-radius: 5px;
  padding: 1em;
  background-color: var(--transparent-light);
}
a:link {
  color: var(--link);
}

a:visited {
  color: var(--link-v);
}

button:hover {
  cursor: pointer;
}

.sep {
  width: 50%;
  border-right: solid 3px var(--text);
}
.input-list {
  list-style: none;
  padding-left: 0;
}

.input-list li {
  margin-bottom: 10px;
}

.zoom-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  /* Ensure the container fits the image */

}

.zoom-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
  width: 100%;
}

.zoom-container:hover .zoom-img {
  transform: scale(1.1);
  /* Zoom effect */
  filter: brightness(1.1);

}
.carousel-indicators {
  background-color: #007BFF;
}

.carousel-control-prev {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.carousel-control-next {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

@media (max-width: 767px) {
  .video-container {
    width: 100vw;
    height: 50vh;
    /* Ensure the video height covers the full viewport */
  }

  .bg-video {
    object-fit: cover;
    height: 100%;
  }

  .video-text {
    position: absolute;
    top: 50%;
    /* Vertically center */
    left: 50%;
    /* Horizontally center */
    transform: translate(-57%, -50%);
    /* Offset by 50% of its own width and height to center it */
    text-align: center;
    z-index: 2;
  }

  h1 {
    font-size: 8vw;
  }

  .overlay-gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    /* Change direction to top */
  }
  .sep {
    border: none;
  }
}

.active {
  font-size: 1.5em;
}
.navbar-nav .nav-link {
  text-align: center;
  color: #333333;
  font-weight: 500;
  transition: color 0.3s, background-color 0.3s;
  align-content: center;
  margin: 5px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #ffffff;
  background-color: #333333;
  border-radius: 0.375rem; /* Rounded edges for hover */
}
